[Unit]
Description=dotpi manager
Wants=network-online.target
After=network-online.target jackd.service

[Service]
Type=idle
ExecStart=/usr/bin/node /opt/dotpi/share/dotpi-manager/runtime/.build/clients/thing/index.js
WorkingDirectory=/opt/dotpi/share/dotpi-manager/runtime
StandardOutput=inherit
StandardError=inherit
Restart=always

# wait before restarting
RestartSec=1s

# Do not stop to try restarting service
StartLimitBurst=0

User=pi
Group=audio

[Install]
WantedBy=multi-user.target
