[Unit]
Description=dotpi manager
Wants=network-online.target
After=network-online.target jackd.service

[Service]
Type=exec
ExecStart=/usr/bin/npm run dotpi
WorkingDirectory=/opt/dotpi/share/dotpi-manager/runtime
StandardOutput=inherit
StandardError=inherit
Restart=always

# wait before restarting
RestartSec=5s

# Do not stop to try restarting service
StartLimitBurst=0

[Install]
WantedBy=default.target
