[Unit]
Description=Jack service
After=sound.target

[Service]
Type=exec
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
User=pi
Group=audio
ExecStart=/opt/dotpi/share/jackd/dotpi_jackd_command
Restart=always

# wait before restarting
RestartSec=1s

# Do not stop to try restarting service
StartLimitBurst=0

[Install]
WantedBy=multi-user.target

